* {
    padding: 0;
    margin: 0;
}


nav {
    display: grid;
    grid-auto-flow: column;
    margin: 30px;
    background-color: darkgray
}

nav>img {

    display: grid;
    border-radius: 0.5rem;
    margin: 10px
}

a {
    color: black;
    text-decoration: none;
    line-height: 50px;

}

li {
    margin: 20px;
    list-style: none;
    display: grid;
    line-height: 50%;


}

/* ------------------------------------------------------------------------------------------- */
header {
    display: grid;
    justify-content: center;


}

main {
    display: grid;

    grid-auto-flow: column;

    grid-column-gap: 25px;
    justify-content: center;
    width: 100%;
}

/* ------------------------------------------------------------------------------------------- */

div {

    display: grid;
    grid-auto-flow: column;
    width: 100%;

    margin: 30px;
}

div>section>p {
    grid-auto-flow: column;


    overflow: scroll;
    display: grid;


}

div>section>button {
    width: 20%;
}

div>section {
    display: grid;
    width: 430px;
    height: 400px;
}

div>section>p::-webkit-scrollbar {
    display: none;
}

footer {
    height: 90px;
    background-color: black
}